/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.body{
    font-family: 'Poppins', sans-serif;
}
.header-background{
    background-color: #FFF9F4;
}
.color-text{
    color: #FA804C;
}
.poster-img{
    width: 407px;
    height: 407px;
}
.buy-now-btn{
    background-color: #3D4FF3;
    width: 150px;
    height: 50px;
    color: white;
}
.img-back-shadow{
    background-color: #F1F1F1;
    border-radius: 15px;
}